{# templates/message/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mes Messages{% endblock %}

{% block body %}
<h2>Mes Messages</h2>

<h3>Messages envoyés</h3>
<ul>
    {% for message in messagesSent %}
        <li>
            <strong>À : </strong>{{ message.recipient.username }} <br>
            <strong>Message : </strong>{{ message.content }} <br>
            <strong>Date : </strong>{{ message.createdAt|date('d/m/Y H:i') }}
        </li>
    {% else %}
        <li>Aucun message envoyé.</li>
    {% endfor %}
</ul>

<h3>Messages reçus</h3>
<ul>
    {% for message in messagesReceived %}
        <li>
            <strong>De : </strong>{{ message.sender.username }} <br>
            <strong>Message : </strong>{{ message.content }} <br>
            <strong>Date : </strong>{{ message.createdAt|date('d/m/Y H:i') }}
        </li>
    {% else %}
        <li>Aucun message reçu.</li>
    {% endfor %}
</ul>

{% endblock %}
